<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/Login_v3/css/main.css" rel="stylesheet" />
    <link href="~/Login_v3/css/util.css" rel="stylesheet" />
    <link href="~/Login_v3/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Login_v3/fonts/iconic/css/material-design-iconic-font.css" rel="stylesheet" />

</head>

<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Login_v3/js/main.js"></script>
    
   




</body>
    </html>
